<html>
<header>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
</header>

<head>
    <title>Moodli: Live Map for Covid19 Sentiment Analysis</title>
    <link rel='icon' href='https://moodli.org/favicon.ico' type='image/x-icon' />
    <meta name="description"
        content="Moodli is a site that uses AI to perform sentiment analysis on tweets wordwide and render them on map with color which indicates their mood">
    {{!-- Facebook --}}
    <meta property="og:site_name" content="Moodli">
    <meta property="og:type" content="website">
    <meta property="og:title" content="A Live Covid 19 Mood Map">
    <meta property="og:description"
        content="A live map of people's response to Covid 19 base on sentiment analysis on live tweets">
    <meta property="og:image" content="https://www.moodli.org/images/moodli_logo.png">
    <meta property="og:image:secure_url" content="https://www.moodli.org/images/moodli_logo.png">
    <meta property="og:image:width" content="978">
    <meta property="og:image:height" content="360">
    <meta property="og:url" content="https://www.moodli.org/">

    {{!-- Twitter --}}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Moodli">
    <meta name="twitter:domain" content="https://www.moodli.org/">
    <meta name="twitter:title" content="A Live Covid 19 Mood Map">
    <meta name="twitter:description"
        content="A live map of people's response to Covid 19 base on sentiment analysis on live tweets">
    <meta name="twitter:image" content="https://www.moodli.org/images/moodli_logo.png">

    {{!-- Google Adsense --}}
    <script data-ad-client="ca-pub-2838941426792321" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>