<html>
<header>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
</header>

<head>
    <title>Moodli: Live Map for Covid19 Sentiment Aalysist</title>
    <meta name="description"
        content="Moodli is a site that uses AI to perform sentiment analysis on tweets wordwide and render them on map with color which indicates their mood">
    <script data-ad-client="ca-pub-2838941426792321" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>