<html>
<header>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
</header>

<head>
    <title>Moodli: Live Map for Covid19 Sentiment Analysis</title>
    <meta name="description"
        content="Moodli is a site that uses AI to perform sentiment analysis on tweets wordwide and render them on map with color which indicates their mood">
    <meta property="og:title" content="A Live Covid 19 Mood Map " />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="A live map of people's response to Covid 19 base on sentiment analysis on live tweets" />
    <meta property="og:url" content="https://www.moodli.org" />
    <meta property="og:image" content="https://i.ibb.co/CMZSVMJ/moodli-logo.png" />
    <meta property="og:image:type" content="image/png" />

    <script data-ad-client="ca-pub-2838941426792321" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>